body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
}
body {
    padding: 36px 0px;
    box-sizing: border-box;
}
body *{
    font-weight: bold;
}
table {
    width: 100%;
}
textarea {
    resize: vertical;
    width: 99%;
    min-height: 20vh;
    line-height: 3vh;
    font-size: 2vh;
}
button {
    font-size: 3vh;
    border-width: 0.5vh;
    margin: 10px;
}
img {
    border: 10px solid white;
    /* margin: auto; */
}